* {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}

:root {
  --purple: #494997;
  --navigation-background: #fec5bb;
  --main-background: #ffffff;
  --content-background: #f8edeb;
  --footer-background: #fec5bb;
}

.logo {
  font-size: 50px;
  text-decoration: none;
  color: black;
}

.navigation {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  padding: 30px 50px 30px;
  margin: 0px 50px 0px;
  border-bottom: 5px solid black;
  background-color: var(--navigation-background);
}

.navigation ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navigation ul li a {
  text-decoration: none;
  color: black;
}

.navigation ul li a:hover {
  text-decoration: underline;
}

main {
  margin: 0px 50px 0px;
  background-color: var(--main-background);
}

.weather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 5px solid black;
  padding: 10px 0px 10px;
}

.city {
  width: 100%;
  text-align: center;
  margin: 5px 0px 0px;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.weather-icon img {
  width: 60px;
}

.weather-temp {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temp {
  font-size: 60px;
}

.feels-like {
  font-style: italic;
  font-size: 15px;
}

.last-updated {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  color: rgb(165, 165, 165);
  margin: 5px 0px 5px;
}

.content {
  display: flex;
  margin: 100px 20px 100px;
}

.primary-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 50px;
  padding: 30px;
  background-color: var(--content-background);
}

.part-title {
  font-weight: bold;
  font-size: 40px;
  width: 100%;
  text-align: center;
}

.news {
  display: flex;
  gap: 20px;
}

.news-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.categories-button {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 15px;
  border: 2px solid black;
  cursor: pointer;
}

.categories-button:hover {
  transition: 0.5s;
  background-color: white;
  color: black;
  border: 2px solid black;
}


.news-image {
  width: 40%;
}

.news-image img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.news-info a {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  margin-bottom: 0.83em;
  font-weight: bold;
}

.news-info a:hover {
  text-decoration: underline;
  color: var(--purple);
  transition: 0.2s;
}

.news-info p {
  font-size: 18px;
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-date {
  font-weight: bold;
}

.news-detail {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.news-detail-source span {
  display: block;
}

.news-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.secondary-content {
  width: 30%;
  margin-left: 20px;
}

.secondary-content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--content-background);
  border-radius: 50px;
  padding: 20px;
  height: 900px;
}

.secondary-content a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
}

.secondary-content a:hover {
  color: var(--purple);
  text-decoration: underline;
  transition: 0.3s;
}

footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 5px solid black;
  margin: 0px 50px 0px;
  padding: 20px;
  background-color: var(--footer-background);
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

footer ul li a:hover {
  text-decoration: underline;
}
