* {
  margin: 0px;
  padding: 0px;
  font-family: "Oswald", sans-serif;
}

:root {
  --purple: #494997;
  --navigation-background: #59d0ff;
  --main-background: #ffffff;
  --content-background: #59d0ff;
  --footer-background: #59d0ff;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.topButton {
  display: inline-block;
  background-color: #ff9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
.topButton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
.topButton:hover {
  cursor: pointer;
  background-color: #333;
}
.topButton:active {
  background-color: #555;
}
.topButton.show {
  opacity: 1;
  visibility: visible;
}

/* 
.topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
} */

/* .topButton img {
  width: 50px;
} */

.logo {
  font-size: 3rem;
  text-decoration: none;
  color: black;
}

.title {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

.navigation {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 30px 50px 30px;
  margin: 0px 50px 0px;
  border-bottom: 5px solid black;
  background-color: var(--navigation-background);
}

.navigation ul {
  list-style: none;
}

.search-wrapper {
  display: flex;
}

.search-bar {
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 1.5rem;
  border-radius: 10px 0px 0px 10px;
}

.search-button {
  border: none;
  background-color: rgb(218, 218, 218);
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 1rem;
  padding: 10px;
}

main {
  margin: 0px 50px 0px;
}

.weather {
  display: flex;
  border-bottom: 5px solid black;
  padding: 10px 0px;
}

.weather div {
  flex: 1;
}

.weather-city {
  text-align: center;
}

.weather-current {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weather-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon img {
  max-width: 64px;
}

.weather-temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature {
  font-size: 4rem;
}

.feels-like {
  font-style: italic;
}

.weather-updated {
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  color: rgb(165, 165, 165);
  margin: 5px 0px 5px;
}

.main-news {
  display: flex;
  gap: 10px;
  margin: 20px 0px 20px;
}

.main-col-1 {
  flex: 2;
  position: relative;
  text-align: center;
}

.main-col-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-row-1 {
  display: flex;
  gap: 10px;
}

.main-col-2,
.main-row-1,
.main-col-3,
.main-col-4,
.main-col-5 {
  flex: 1;
  position: relative;
  text-align: center;
}

.main-news-image {
  max-width: 100%;
  height: 100%;
  border-radius: 25px;
}

.main-news-title {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
  text-decoration: none;
  padding: 5px;
  font-weight: bold;
}

.main-news-title:hover {
  text-decoration: underline;
}

.main-col-1 a {
  font-size: 30px;
}

.main-col-5 a {
  font-size: 20px;
}

.content {
  display: flex;
  gap: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex: 3;
  gap: 20px;
  padding: 20px;
}

.news {
  display: flex;
  gap: 20px;
}

.news-image {
  flex: 2;
}

.news-image img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.news-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  flex: 3;
}

.news-info a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 0.9rem;
  font-weight: bold;
}

.news-info a:hover {
  text-decoration: underline;
  color: var(--purple);
  transition: 0.3s;
}

.news-info p {
  font-size: 1.2rem;
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.news-date {
  font-weight: bold;
}

.news-detail {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  align-items: center;
  margin-bottom: 10px;
}

.news-detail-source span {
  display: block;
}

.sidebar-content {
  flex: 1;
}

.trending-news {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 40px;
  padding: 30px;
  min-height: 900px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: var(--content-background);
}

.sidebar-content a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
}

.sidebar-content a:hover {
  color: var(--purple);
  text-decoration: underline;
  transition: 0.3s;
}

.sidebar-market {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.market-table {
  margin: 5px;
  border-collapse: collapse;
}

.market-table th {
  background-color: #04aa6d;
  color: white;
}

.market-table td {
  text-align: center;
  padding: 3px;
}

.market-table th,
td {
  border-bottom: 1px solid #ddd;
}

.market-table th {
  padding: 10px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  border-top: 5px solid black;
  margin: 0px 50px 0px;
  padding: 20px;
  background-color: var(--footer-background);
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

footer ul li a:hover {
  text-decoration: underline;
}
